@font-face {
  font-display: swap;
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: local("Open Sans Light"), local("OpenSans-Light"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
  url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;
  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover,
a:focus {
  color: rgba(0, 0, 0, 0.6);
}

a:active {
  color: rgba(0, 0, 0, 0.3);
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.input,
.textarea {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
}

.button {
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button--primary {
  position: relative;
  z-index: 0;
  display: block;
  min-height: 40px;
  padding: 8px 5px;
  vertical-align: middle;
  text-align: center;
}

.button--primary::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: inherit;
  height: 8px;
  color: black;
  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: height 0.2s ease;
}

.button--primary:hover,
.button--primary:focus {
  color: black;
}

.button--primary:hover::before,
.button--primary:focus::before {
  height: 100%;
}

.button--close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 3;
}

.button--close:hover,
.button--close:focus {
  opacity: 1;
}

.button--close:active {
  opacity: 0.3;
}

.button--close::before,
.button--close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: white;
}

.button--close::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.button--close::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.input:focus,
.textarea:focus {
  border: none;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  position: relative;
  padding: 16px 56px 50px 59px;
  background-color: #f7e296;
  -webkit-box-shadow: inset 0 40px 0 0 white;
          box-shadow: inset 0 40px 0 0 white;
}

.logo {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}

.logo:hover {
  color: black;
  cursor: default;
}

.logo[href]:hover,
.logo[href]:focus {
  cursor: pointer;
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.header__logo {
  display: inline-block;
  margin-bottom: 9px;
  vertical-align: top;
}

.menu-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
}

.search {
  width: 440px;
  margin-right: auto;
}

.search__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__form::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search__input {
  width: 355px;
  padding: 10px 40px 9px;
  letter-spacing: 0.15px;
  background-color: #f7e296;
}

.search__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__input:focus::-webkit-input-placeholder {
  color: black;
}

.search__input:focus:-ms-input-placeholder {
  color: black;
}

.search__input:focus::-ms-input-placeholder {
  color: black;
}

.search__input:focus::placeholder {
  color: black;
}

.search__button {
  width: 85px;
  height: 49px;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: none;
  letter-spacing: 0.15px;
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 2px black;
          box-shadow: inset 0 0 0 2px black;
  visibility: hidden;
}

.search__button:hover,
.search__button:focus {
  color: white;
  background-color: black;
  cursor: pointer;
}

.search__form:focus-within .search__input,
.search__input:focus {
  -webkit-box-shadow: inset 0 -2px 0 0 black;
          box-shadow: inset 0 -2px 0 0 black;
}

.search__input:focus {
  -webkit-box-shadow: inset 0 -2px 0 0 black;
          box-shadow: inset 0 -2px 0 0 black;
}

.search__form:focus-within .search__button,
.search__input:focus + .search__button {
  visibility: visible;
}

.search__input:focus + .search__button {
  visibility: visible;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.nav-user {
  width: 287px;
}

.nav-user,
.nav-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-user__login {
  margin-right: 22px;
}

.nav-user__logout {
  margin-right: 20px;
}

.nav-order__compare {
  margin-right: 42px;
}

.nav-order__cart {
  margin-right: 5px;
}

.nav-order__cart--footer {
  margin-right: 0;
}

.nav-user__link--login,
.nav-order__link--compare,
.nav-order__link--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.nav-user__link--logout {
  opacity: 0.3;
}

.nav-user__link--login::before,
.nav-order__link--compare::before,
.nav-order__link--cart::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.nav-user__link--login::before {
  width: 13px;
  height: 12px;
  margin-right: 12px;
  background-image: url(../img/user.svg);
}

.nav-order__link--compare::before {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-image: url(../img/compare.svg);
}

.nav-order__link--cart::before {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../img/cart.svg);
}

.nav-user__link--footer-login,
.nav-order__link--footer-compare,
.nav-order__link--footer-cart {
  color: rgba(255, 255, 255, 0.7);
}

.nav-user__link--footer-login:hover,
.nav-user__link--footer-login:focus,
.nav-order__link--footer-compare:hover,
.nav-order__link--footer-compare:focus,
.nav-order__link--footer-cart:hover,
.nav-order__link--footer-cart:focus {
  color: white;
}

.nav-user__link--footer-login:active,
.nav-order__link--footer-compare:active,
.nav-order__link--footer-cart:active {
  color: rgba(255, 255, 255, 0.3);
}

.nav-user__link--footer-login::before {
  background-image: url(../img/footer-user.svg);
}

.nav-order__link--footer-compare::before {
  background-image: url(../img/footer-compare.svg);
}

.nav-order__link--footer-cart::before {
  background-image: url(../img/footer-cart.svg);
}

.nav-user__link--login:hover::before,
.nav-user__link--login:focus::before,
.nav-order__link--compare:hover::before,
.nav-order__link--compare:focus::before,
.nav-order__link--cart:hover::before,
.nav-order__link--cart:focus::before {
  opacity: 0.6;
}

.nav-user__link--login:active::before,
.nav-order__link--compare:active::before,
.nav-order__link--cart:active::before {
  opacity: 0.3;
}

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: start;
  -ms-flex-align: start;
}

.nav-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu__item:nth-child(2) {
  margin-right: 35px;
  margin-left: auto;
}

.nav-menu__item:nth-child(3) {
  margin-right: 108px;
}

.nav-menu__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.catalog-menu {
  position: absolute;
  bottom: -112px;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 162px;
  padding-top: 20px;
  padding-bottom: 43px;
  padding-left: 60px;
  background-color: #f7e296;
  visibility: hidden;
}

.catalog-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.catalog-menu__item {
  padding-right: 59px;
}

.nav-menu__link--catalog {
  position: relative;
  padding-right: 28px;
}

.nav-menu__link--catalog::before,
.nav-menu__link--catalog::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 2px;
  margin: auto;
  background-color: #b8a974;
}

.nav-menu__link--catalog::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-menu__item--catalog:hover .catalog-menu,
.nav-menu__link--catalog:focus + .catalog-menu {
  visibility: visible;
}

.main-slider {
  position: relative;
  -webkit-box-shadow: inset 0 113px 0 0 #f7e296;
          box-shadow: inset 0 113px 0 0 #f7e296;
}

.main-slider__list {
  height: 594px;
  margin: 0 60px 0 50px;
  padding-top: 2px;
}

.main-slider__item {
  position: relative;
  display: none;
}

.slide-navigation__control--self-stick:checked ~ .main-slider__list .main-slider__item--self-stick,
.slide-navigation__control--fitness-bracelet:checked ~ .main-slider__list .main-slider__item--fitness-bracelet,
.slide-navigation__control--quadrupter:checked ~ .main-slider__list .main-slider__item--quadrupter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.slide-navigation__control--self-stick:checked ~ .slide-navigation .slide-navigation__label--self-stick:before,
.slide-navigation__control--fitness-bracelet:checked ~ .slide-navigation .slide-navigation__label--fitness-bracelet:before,
.slide-navigation__control--quadrupter:checked ~ .slide-navigation .slide-navigation__label--quadrupter:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slide-navigation {
  position: absolute;
  top: 329px;
  right: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.slide-navigation__label {
  position: relative;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  border: 1px solid black;
  border-radius: 50%;
  -ms-flex-negative: 0;
  cursor: pointer;
}

.catalog-menu__link {
  line-height: 36px;
  letter-spacing: 0.15px;
}

.featured-product__img--self-stick {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
}

.featured-product__img--fitness-bracelet {
  -webkit-transform: translate(65px, 12px);
      -ms-transform: translate(65px, 12px);
          transform: translate(65px, 12px);
}

.featured-product__img--quadrupter {
  -webkit-transform: translate(-18px, 65px);
      -ms-transform: translate(-18px, 65px);
          transform: translate(-18px, 65px);
}

.featured-product__info {
  position: relative;
  width: 500px;
  padding-top: 79px;
  z-index: 1;
}

.featured-product__info::before {
  content: "";
  position: absolute;
  top: 37px;
  width: 100px;
  height: 7px;
  background-color: white;
}

.featured-product__info::after {
  content: "";
  position: absolute;
  top: -15px;
  right: -12px;
  font-weight: bold;
  font-size: 179px;
  line-height: 179px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: white;
  z-index: -1;
}

.slide-navigation__control--self-stick:checked ~ .main-slider__list .featured-product__info--self-stick::after {
  content: "01";
}

.slide-navigation__control--fitness-bracelet:checked ~ .main-slider__list .featured-product__info--fitness-bracelet::after {
  content: "02";
}

.slide-navigation__control--quadrupter:checked ~ .main-slider__list .featured-product__info--quadrupter::after {
  content: "03";
}

.featured-product__title {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
  word-spacing: -1px;
}

.featured-product__description {
  margin-top: 0;
  margin-bottom: 43px;
  color: #464646;
  letter-spacing: 0.15px;
}

.featured-product__link {
  width: 220px;
  letter-spacing: 3.6px;
}

.featured-product__characteristics {
  margin-top: 50px;
  border-collapse: collapse;
}

.product-characteristics__value {
  padding: 0;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.36px;
}

.product-characteristics__value:nth-child(1) {
  width: 159px;
}

.product-characteristics__value:nth-child(2) {
  width: 139px;
}

.product-characteristics__name {
  padding: 0;
  padding-top: 7px;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  letter-spacing: 0.13px;
}

.product-characteristics__name:nth-child(3) {
  padding-left: 3px;
}

.home-catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 81px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.home-catalog__item {
  width: 160px;
}

.home-catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;
  background-color: #f7e296;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.home-catalog__img--monopods-for-selfie {
  margin-top: auto;
  margin-bottom: 1px;
  margin-left: 2px;
}

.home-catalog__img--action-cameras {
  margin-top: 5px;
  margin-left: 9px;
}

.home-catalog__img--fitness-bracelet {
  margin-top: 7px;
  margin-left: 3px;
}

.home-catalog__img--smart-watch {
  margin-top: 3px;
  margin-left: 6px;
}

.home-catalog__img--quadrocopter {
  margin-top: 8px;
  margin-right: 2px;
}

.home-catalog__link:hover .home-catalog__wrapper,
.home-catalog__link:focus .home-catalog__wrapper {
  background-color: #f0c52e;
}

.home-catalog__link:hover .home-catalog__name,
.home-catalog__link:focus .home-catalog__name {
  color: black;
}

.home-catalog__link:active .home-catalog__img,
.home-catalog__link:active .home-catalog__name {
  opacity: 0.3;
}

.home-catalog__name {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.home-services {
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 100px 0 0 white;
          box-shadow: inset 0 100px 0 0 white;
}

.home-services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs {
  position: relative;
  width: 281px;
}

.tabs::after {
  content: "";
  position: absolute;
  top: 0;
  right: -3px;
  width: 7px;
  height: 319px;
  background-color: black;
}

.tabs__list {
  margin-top: 80px;
}

.tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.tabs__button {
  width: 160px;
  padding: 8px 24px;
}

.features {
  flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.features__list {
  padding: 73px 0 146px 119px;
}

.features__item {
  position: relative;
  display: none;
}

.home-services__control--delivery:checked ~ .tabs .tabs__item--delivery,
.home-services__control--warranty:checked ~ .tabs .tabs__item--warranty,
.home-services__control--credit:checked ~ .tabs .tabs__item--credit {
  background-color: black;
}

.home-services__control--delivery:checked ~ .tabs .tabs__button--delivery,
.home-services__control--warranty:checked ~ .tabs .tabs__button--warranty,
.home-services__control--credit:checked ~ .tabs .tabs__button--credit {
  color: #f7e184;
}

.home-services__control--delivery:checked ~ .tabs .tabs__button--delivery {
  padding: 8px 20px;
}

.home-services__control--warranty:checked ~ .tabs .tabs__button--warranty {
  padding: 8px 29px;
}

.home-services__control--credit:checked ~ .tabs .tabs__button--credit {
  padding: 8px 42px;
}

.home-services__control--delivery:checked ~ .tabs .tabs__button--delivery::before,
.home-services__control--warranty:checked ~ .tabs .tabs__button--warranty::before,
.home-services__control--credit:checked ~ .tabs .tabs__button--credit::before {
  content: none;
}

.home-services__control--delivery:checked ~ .features .features__item--delivery,
.home-services__control--warranty:checked ~ .features .features__item--warranty,
.home-services__control--credit:checked ~ .features .features__item--credit {
  display: block;
}

.features__item--delivery::after,
.features__item--warranty::after,
.features__item--credit::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.features__item--delivery::after {
  top: 12px;
  right: 66px;
  width: 136px;
  height: 164px;
  background-image: url(../img/delivery.svg);
}

.features__item--warranty::after {
  top: -11px;
  right: 46px;
  width: 171px;
  height: 194px;
  background-image: url(../img/warranty.svg);
}

.features__item--credit::after {
  top: -11px;
  right: 70px;
  width: 156px;
  height: 186px;
  background-image: url(../img/credit.svg);
}

.features__title,
.about-us__title,
.contacts__title {
  margin: 0;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
}

.features__title {
  margin-bottom: 31px;
  margin-left: 2px;
}

.features__text,
.about-us__text,
.contacts__text {
  color: #464646;
}

.features__text {
  max-width: 460px;
  margin: 0;
  letter-spacing: 0.3px;
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 93px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.brands__item {
  width: 260px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.brands__item--dji {
  background-image: url(../img/logo-1.png);
}

.brands__item--dji:hover {
  background-image: url(../img/logo-1.jpg);
}

.brands__item--sp-gadgets {
  background-image: url(../img/logo-2.png);
}

.brands__item--sp-gadgets:hover {
  background-image: url(../img/logo-2.jpg);
}

.brands__item--gopro {
  background-image: url(../img/logo-3.png);
}

.brands__item--gopro:hover {
  background-image: url(../img/logo-3.jpg);
}

.brands__item--vive {
  background-image: url(../img/logo-4.png);
}

.brands__item--vive:hover {
  background-image: url(../img/logo-4.jpg);
}

.main__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-bottom: 82px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.about-us,
.contacts {
  width: 560px;
}

.about-us::before,
.contacts::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  margin-bottom: 45px;
  background-color: black;
}

.about-us__title,
.contacts__title {
  margin-bottom: 43px;
}

.about-us__text,
.contacts__text {
  margin-top: 0;
  margin-bottom: 30px;
}

.contacts__text {
  margin-bottom: 0;
}

.about-us__text:last-child,
.contacts__text:last-child {
  margin-bottom: 0;
}

.about-us__text {
  padding-right: 85px;
}

.about-us__button,
.contacts__button {
  width: 260px;
  letter-spacing: 3.6px;
}

.transport-companies {
  padding-top: 36px;
  padding-bottom: 54px;
}

.transport-companies__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.transport-companies__item::before {
  content: "";
  width: 8px;
  height: 8px;
  margin-right: 28px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  margin-bottom: 69px;
  cursor: pointer
}

.page__title {
  margin: 37px 0 21px 60px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 42px;
  margin-left: 60px;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 20px;
  padding-right: 20px;
}

.breadcrumbs__item:not(:last-child)::before,
.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 4px;
  height: 1px;
  background-color: black;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.breadcrumbs__item:not(:last-child)::before {
  top: 14px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.breadcrumbs__item:not(:last-child)::after {
  bottom: 13px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.breadcrumbs__link {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:not([href]):hover {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs__link::before {
  content: "";
  width: 4px;
  height: 1px;
}

.products-shadow {
  position: relative;
}

.products-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  background-color: rgba(0,0,0,0.08);
}

.products-shadow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
}

.main__products {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  position: relative;
  flex-shrink: 0;
  width: 328px;
  padding-right: 68px;
  padding-left: 60px;
  background-color: #efefef;
  -ms-flex-negative: 0;
}

.filter::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100vw;
  height: 100%;
  background-color: #efefef;
}

.filter__name,
.sorting-products__name {
  margin: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.filter__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.filter__form {
  margin-top: 69px;
}

.filter__legend {
  width: 100%;
  padding-top: 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
  border-top: 2px solid black;
}

.filter__price {
  margin-top: 35px;
  margin-bottom: 32px;
}

.range-controls {
  position: relative;
}

.range-controls__scale {
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls__bar {
  width: 60%;
  height: inherit;
  background-color: #91c92f;
}

.range-controls__toggle {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #dadada;
          box-shadow: 0 2px 1px 0 #dadada;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.range-controls__toggle:active {
  -webkit-transform: translateY(-50%) scale(1.1);
      -ms-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}

.range-controls__toggle::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
}

.range-controls__toggle--min {
  left: -5px;
}

.range-controls__toggle--max {
  left: 54%;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.price-controls__label,
.price-controls__input {
  font-size: 14px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls__label {
  width: 90px;
}

.price-controls__input {
  width: 50%;
  padding: 0;
  background-color: transparent;
  border: none;
}

.filter__list {
  margin-top: 17px;
  margin-bottom: 32px;
}

.checkbox__label,
.radio__label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.checkbox__label--filter,
.radio__label--filter {
  position: relative;
  padding-left: 37px;
}

.checkbox__label:hover::before,
.checkbox__label:focus::before,
.radio__label:hover::before,
.radio__label:focus::before {
  opacity: 0.6;
}

.checkbox__label:active::before,
.radio__label:active::before {
  opacity: 1;
}

.checkbox__label--filter::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: left center;
}

.checkbox__input--filter:not(:checked) + .checkbox__label--filter::before {
  background-image: url(../img/checkbox-off.svg);
}

.checkbox__input--filter:checked + .checkbox__label--filter::before {
  background-image: url(../img/checkbox-on.svg);
}

.radio__label--filter::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.radio__input--filter:not(:checked) + .radio__label--filter::before {
  background-image: url(../img/radio-off.svg);
}

.radio__input--filter:checked + .radio__label--filter::before {
  background-image: url(../img/radio-on.svg);
}

.filter__button {
  width: 100%;
  letter-spacing: 3.6px;
}

.products {
  z-index: 2;
  width: 100%;
  padding-bottom: 76px;
  padding-left: 72px;
}

.sorting-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 70px;
  margin-bottom: 69px;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.sorting-products__name {
  margin-right: 56px;
  margin-left: 2px;
}

.sorting-products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-products__item {
  margin-right: 32px;
}

.sorting-products__link {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-products__link:hover,
.sorting-products__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-products__link:active,
.sorting-products__item--active .sorting-products__link {
  color: black;
}

.sorting-priority {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.sorting-priority__link {
  position: relative;
  display: block;
  width: 11px;
  height: 10px;
}

.sorting-priority__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

.sorting-priority__link:not(:last-child) {
  margin-right: 19px;
}

.sorting-priority__link--increase::before {
  border-right: 6px solid transparent;
  border-bottom: 10px solid #d3d2d2;
  border-left: 6px solid transparent;
}

.sorting-priority__link--decrease::before {
  border-top: 10px solid #d3d2d2;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.sorting-priority__link--increase:hover:before,
.sorting-priority__link--increase:focus:before {
  border-bottom-color: #a7a5a6;
}

.sorting-priority__link--current:before,
.sorting-priority__link--decrease:hover:before,
.sorting-priority__link--decrease:focus:before {
  border-top-color: #a7a5a6;
}

.sorting-priority__link--increase:active:before {
  border-bottom-color: #231f20;
}

.sorting-priority__link--decrease:active:before {
  border-top-color: #231f20;
}

.product-item:hover .product-item__img {
  opacity: 0.7;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.product-item {
  position: relative;
  width: 360px;
  margin-bottom: 46px;
}

.product-item--new:before {
  content: "new";
  position: absolute;
  top: 28px;
  right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 0.7px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.product-item__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.product-item__price {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.product-item__links {
  position: absolute;
  top: 214px;
  left: 50%;
  width: 200px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
}

.product-item:hover .product-item__links {
  visibility: visible;
}

.button--add-cart {
  width: inherit;
  margin-bottom: 6px;
  letter-spacing: 3.6px;
}

.links__compare {
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
}

.product-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 23px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: start;
  -ms-flex-align: start;
}

.product-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
}

.product-item__price {
  margin: 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 70px;
  background-color: #ebebeb;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.pagination__item:first-child {
  margin-left: 7px;
}

.pagination__item:not(:last-child) {
  margin-right: 28px;
}

.pagination__link {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.pagination__link:hover {
  color: black;
}

.pagination__link--prev,
.pagination__link--next,
.pagination__link--current {
  color: black;
}

.pagination__link--prev {
  min-width: 126px;
  margin-right: 11px;
  padding: 23px 26px 23px 31px;
}

.pagination__link--next {
  min-width: 137px;
  padding: 23px 27px 23px 33px;
}

.pagination__link--prev:hover,
.pagination__link--next:hover,
.pagination__link--prev:focus,
.pagination__link--next:focus {
  color: black;
  background-color: #d9d9d9;
}

.pagination__link--prev:active,
.pagination__link--next:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.footer {
  color: white;
  background-color: #464646;
}

.footer__top,
.footer__middle,
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.footer__top {
  margin-bottom: 22px;
  padding-top: 60px;
}

.footer__middle {
  align-items: flex-start;
  margin-bottom: 60px;
  -webkit-box-align: start;
  -ms-flex-align: start;
}

.footer__bottom {
  position: relative;
  padding-bottom: 65px;
}

.footer__bottom--line-center:before {
  content: "";
  position: absolute;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f0c52e;
}

.footer__logo:hover,
.footer__logo:focus {
  color: #f0c52e;
}

.footer__additional-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.footer__address {
  margin: 0;
  color: white;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.footer-nav__item {
  margin-right: 34px;
}

.footer-nav__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-nav__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav__link:focus {
  color: rgba(255, 255, 255, 0.3);
}

.social {
  margin-right: 480px;
  margin-left: 510px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 23px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.3;
}

.social__link--facebook {
  background-image: url(../img/fb.svg);
}

.social__link--instagram {
  background-image: url(../img/instagram.svg);
}

.social__link--twitter {
  background-image: url(../img/twitter.svg);
}

.social__link:hover,
.social__link:focus {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.1;
}

.footer__phone {
  color: white;
}

.footer__phone:hover,
.footer__phone:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer__phone:active {
  color: rgba(255, 255, 255, 0.3);
}

.nav-user--footer {
  width: auto;
  margin-right: 23px;
  margin-bottom: 13px;
  margin-left: auto;
}

.nav-order--footer {
  margin-bottom: 13px;
}

.nav-user__link--footer,
.nav-order__link--footer {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.nav-user__link--footer:hover,
.nav-order__link--footer:hover {
  color: white;
}

.nav-user__link--footer:focus,
.nav-order__link--footer:focus {
  color: rgba(255, 255, 255, 0.3);
}

.copyright {
  margin: 0;
}

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 35px;
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.copyright__link:hover,
.copyright__link:focus {
  opacity: 0.6;
}

.copyright__link:active {
  opacity: 0.3;
}

.map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: none;
  width: 960px;
  height: 559px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.map__iframe {
  position: relative;
  border: none;
  z-index: 2;
}

.write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: none;
  width: 960px;
  min-height: 553px;
  padding: 93px 100px 80px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal--show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal--error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.write-us__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.write-us__button {
  width: 200px;
  margin-top: 8px;
  letter-spacing: 3.6px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 360px;
  margin-bottom: 33px;
}

.form-field--full-width {
  width: 100%;
}

.form-field__label {
  margin-bottom: 7px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.form-field__input,
.form-field__textarea {
  width: 100%;
  padding: 16px 21px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  background-color: #f2f2f2;
}

.form-field__textarea {
  height: 156px;
  resize: none;
}

.form-field__input::-webkit-input-placeholder,
.form-field__textarea::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.form-field__input:-ms-input-placeholder,
.form-field__textarea:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.form-field__input::-ms-input-placeholder,
.form-field__textarea::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.form-field__input::placeholder,
.form-field__textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.form-field__input:hover,
.form-field__textarea:hover {
  background-color: #eaeaea;
}

.form-field__input:focus,
.form-field__textarea:focus {
  background-color: white;
  outline: 3px solid #f7e296;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-50%, -200%);
            transform: translateY(-50%, -200%);
  }

  70% {
    -webkit-transform: translateY(-50%, -100%);
            transform: translateY(-50%, -100%);
  }

  90% {
    -webkit-transform: translateY(-50%, -25%);
            transform: translateY(-50%, -25%);
  }

  100% {
    -webkit-transform: translateY(-50%, -50%);
            transform: translateY(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-50%, -200%);
            transform: translateY(-50%, -200%);
  }

  70% {
    -webkit-transform: translateY(-50%, -100%);
            transform: translateY(-50%, -100%);
  }

  90% {
    -webkit-transform: translateY(-50%, -25%);
            transform: translateY(-50%, -25%);
  }

  100% {
    -webkit-transform: translateY(-50%, -50%);
            transform: translateY(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, -52%);
            transform: translate(-49%, -52%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, -52%);
            transform: translate(-49%, -52%);
  }
}
